Source: casa
Section: science
Priority: extra
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 8.0.0), cmake, libboost-program-options-dev, libboost-regex-dev, gfortran, libboost-filesystem-dev, libboost-thread-dev, libboost-serialization-dev, libcfitsio3-dev, pgplot5, wcslib-dev, libfftw3-dev, libblas-dev, liblapack-dev, libcasacore-dev, openjdk-6-jre-headless, libdbus-1-dev, libdbus-c++-dev, libxerces-c-dev, libreadline-dev, libxml2-dev
Standards-Version: 3.9.2
Homepage: http://casa.nrao.edu/
#Vcs-Git: git://git.debian.org/collab-maint/casa.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/casa.git;a=summary

Package: casa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

           
